<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <meta name="title" content="Utopia Pinturas - Pinturas em Maringá">
    <meta name="description"
          content="Pinturas internas e externas em Maringá, agende um orçamento sem compromisso CLIQUE e conheça!">
    <meta name="keywords"
          content="pinturas,pintura interna,pintura externa,textura,grafiato,massa corrida,utopia,pintura maringá">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heliton Leno de Souza">
    <meta name="msvalidate.01" content="05D6088FBACE318FB315D8AB8D65E89C" />

    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/favicon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="javascripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="javascripts/animate/animate.min.css" rel="stylesheet">
    <link href="javascripts/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="javascripts/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="javascripts/lightbox/css/lightbox.min.css" rel="stylesheet">
</head>
<body>

<!--==========================
Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1>
                <a href="/" class="scrollto">
                    Utopia Pinturas
                </a>
            </h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="/simulador">Simulador</a></li>
                <li><a href="/cores">Cores</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contato</a></li>
                <li><a href="/parceiros">Parceiros</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active"
                     style="background-image: url('images/intro-carousel/c1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Nós somos profissionais</h2>
                            <p>Com mais de 20 anos de experiência, trabalhamos com todos os tipos de pinturas, sejam
                                elas internas ou externas. Entre em contato e peça seu orçamento.</p>

                            <a href="#contact" class="btn-get-started scrollto">Entre em contato</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('images/intro-carousel/c2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Superando todas expectativas</h2>
                            <p>Contrate quem tem experiência no mercado e valorize seu dinheiro.</p>
                            <a href="#contact" class="btn-get-started scrollto">Entre em contato</a>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- #intro -->

<main id="main">

<!--===========================
  Featured Services Section
============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-ios-bookmarks-outline"></i>
                    <h4 class="title">Confiança</h4>
                    <p class="description">Alta confiabilidade e rápida execução. Somos referência no mercado.</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title">Pontualidade</h4>
                    <p class="description">Marcou conosco? Faremos o melhor para atendermos suas expectativas.</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title">Nosso Pessoal</h4>
                    <p class="description">Nossos pintores são educados, discretos e cordiais desde a chegada a sua casa
                        até o final do trabalho.</p>
                </div>
            </div>
        </div>
    </section>
<!-- #featured-services -->

<!--===========================
  Palheta de cores
============================-->
    <section id="call-to-action" class="wow fadeIn" style="margin-top: 20px">
        <div class="container text-center">
            <h3>Dúvida em qual cor usar?</h3>
            <p>Dê uma olhada em mais de 500 cores!</p>
            <a class="cta-btn" href="/cores">Paleta de cores</a>
        </div>
    </section>
    <!-- #Palheta de cores -->

    <!--===========================
  Services Section
============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Serviços</h3>
                <p>Algumas das nossas especialidades abaixo, entre em contato para saber mais!</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">Massa Corrida</a></h4>
                    <p class="description">A Massa Corrida é indicada para uniformizar, nivelar e corrigir pequenas
                        imperfeições em superfícies internas de alvenaria e concreto.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">Textura</a></h4>
                    <p class="description"> Possuem durabilidade 2 à 3 vezes superior às massas por possuírem mais
                        cargas e serem mais inertes. Além disso, por ter um acabamento mais áspero e fosco, é capaz de
                        esconder com mais eficiência possíveis defeitos.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="">Grafiato</a></h4>
                    <p class="description">Possuem durabilidade 2 à 3 vezes superior às massas, com alto relevo, é uma
                        textura com efeito de ranhura que proporciona uma aparência rústica de bastante elegância, é
                        capaz de esconder com mais eficiência possíveis defeitos.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="">Massa Acrílica</a></h4>
                    <p class="description"> A Massa Acrílica é indicada para uniformizar, nivelar e corrigir pequenas
                        imperfeições em superfícies externas e internas de alvenaria e concreto, resistente a água.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="">Gel Envelhecedor</a></h4>
                    <p class="description">Um produto versátil desenvolvido para proporcionar uma grande variedade de
                        efeitos de pintura como, esponjado, trapeado, manchado, espatulado, escovado, entre outros,
                        sobre alvenaria, madeira e metais externos e internos.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title"><a href="">Verniz ou Stain</a></h4>
                    <p class="description">Funciona como um revestimento sobre a madeira, criando uma camada protetora,
                        desse modo evita que possíveis danos sejam causados pela água, pó ou outros componentes.
                    </p>
                </div>

            </div>

        </div>
    </section>
    <!-- #services -->

<!--===========================
  Simulador
============================-->
    <section id="call-to-action" class="wow fadeIn" style="margin-top: 20px">
        <div class="container text-center">
            <h3>Que tal fazer seu orçamento parcial online?</h3>
            <p>Conheça nosso simulador!</p>
            <a class="cta-btn" href="/simulador">Simulador</a>
        </div>
    </section>
    <!-- #Simulador -->

<!--===========================
  Portfolio Section
============================-->
    <section id="portfolio" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Um pouco do nosso Portfólio</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todas</li>
                        <li data-filter=".filter-app">Grafiato</li>
                        <li data-filter=".filter-card">Textura</li>
                        <li data-filter=".filter-web">Textura Projetada</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/g1.jpg" class="img-fluid" alt="Grafiato">
                            <a href="images/portfolio/g1.jpg" data-lightbox="portfolio" data-title="App 1"
                               class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Grafiato</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/tp3.jpg" class="img-fluid" alt="Textura projetada">
                            <a href="images/portfolio/tp3.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura Projetada" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Textura Projetada</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/g2.jpg" class="img-fluid" alt="Grafiato">
                            <a href="images/portfolio/g2.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Grafiato</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/t2.jpg" class="img-fluid" alt="Textura">
                            <a href="images/portfolio/t2.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Textura</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/tp2.jpg" class="img-fluid" alt="Textura projetada">
                            <a href="images/portfolio/tp2.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura Projetada" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Textura Projetada</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/g3.jpg" class="img-fluid" alt="Grafiato">
                            <a href="images/portfolio/g3.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Grafiato" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Grafiato</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/t1.jpg" class="img-fluid" alt="Textura">
                            <a href="images/portfolio/t1.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Textura</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/t3.jpg" class="img-fluid" alt="Textura">
                            <a href="images/portfolio/t3.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <p><strong>Textura</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/g4.jpg" class="img-fluid" alt="Grafiato">
                            <a href="images/portfolio/g4.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Grafiato" title="Preview"><i class="ion ion-eye"></i></a>

                        </figure>
                        <div class="portfolio-info">
                            <p><strong>Grafiato</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="images/portfolio/tp1.jpg" class="img-fluid" alt="Textura projetada">
                            <a href="images/portfolio/tp1.jpg" class="link-preview" data-lightbox="portfolio"
                               data-title="Textura Projetada" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>
                        <div class="portfolio-info">
                            <p><strong>Textura Projetada</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- #portfolio -->

<!--===========================
  Call To Action Section
============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Contate-nos</h3>
            <p>Ligue e peça um orçamento sem compromisso, vamos te surpreender!</p>
            <a class="cta-btn" href="#contact">Ligue para nós</a>
        </div>
    </section>
<!-- #call-to-action -->

<!--===========================
  About Us Section
============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>Sobre</h3>
                <p>Somos profissionais com mais de 20 anos de experiência atuando em Maringá e região.</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="images/about-mission.jpg" alt="imagem missão" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Nossa missão</a></h2>
                        <p> Oferecer um serviço de qualidade, com rapidez e eficiência.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="images/about-vision.jpg" alt="Nossa visao" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Nossa visão</a></h2>
                        <p>Estar em constante aprendizado e evolução para continuarmos trabalhando com o que mais
                            gostamos: pintura.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="images/about-plan.jpg" alt="Nossos planos" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Nossos objetivos</a></h2>
                        <p>Estamos sempre em busca de inovações e novos conhecimentos para oferecermos sempre o melhor
                            para nossos clientes.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
<!-- #about -->



<!--===========================
 Contact Section
============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contate-nos</h3>
                <p>Ligue e peça um orçamento sem compromisso, vamos te surpreender!</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Endereço</h3>
                        <address>Maringá, Paraná</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Telefones</h3>
                        <p><img src="images/icon_whats.png"/><a href="tel:44999214246"> (44) 99921-4246 - Heliton</a>
                        </p>
                        <p><img src="images/phone-black.png"><a href="tel:44999247004"> (44) 99924-7004 - Heleno</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:contato@utopiapinturas.com.br">contato@utopiapinturas.com.br</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Sua mensagem foi enviada, entraremos em contato em breve. Obrigado!</div>
                <div id="errormessage"></div>

                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome"
                                   data-rule="minlen:4" data-msg="Digite no mínimo 4 letras"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto ou Telefone"
                               data-rule="minlen:4" data-msg="Digite no mínimo 8 letras no assunto"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" id="message" rows="5" data-rule="required"
                                  data-msg="Escreva algo para nós" placeholder="Mensagem"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Enviar mensagem</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- #contact -->

<!--===========================
  Call To Action Section
============================-->
    <section id="call-to-action" class="wow fadeIn"style="margin-bottom: 40px;">
        <div class="container text-center">
            <h3>Quer ser nosso parceiro?</h3>
            <p>Ganhe dinheiro indicando nossa equipe de profissionais. Venha ser um parceiro nosso!</p>
            <a class="cta-btn" href="/parceiros">Ser um parceiro</a>
        </div>
    </section>
    <!-- #call-to-action -->

</main>

<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>
                        Utopia Pinturas
                    </h3>
                    <p>Peça seu orçamento sem compromisso. Pinturas para sua casa, loja ou prédio.</p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links úteis</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Inicio</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#about">Sobre</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#services">Serviços</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Portfólio</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contato</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contate-nos</h4>
                    <p>Maringá, Paraná <br>
                        <strong>Telefone:</strong>44 99921-4246 Heliton <img src="images/icon-whats-white.png"><br>
                        <strong>Telefone:</strong>44 99924-7004 Heleno <img src="images/phone-white.png"><br>
                        <strong>Email:</strong> contato@utopiapinturas.com.br
                    </p>

                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://br.linkedin.com/in/heliton-leno" target="_blank" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>News Letter</h4>
                    <p>Assine nossa Newsletter para receber nossas promoções exclusivas!</p>
                    <form action="" method="post">
                        <input type="email" placeholder="email@dominio.com" name="email"><input type="submit"
                                                                                                value="Assinar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Utopia Pinturas 2018</strong>. Todos os direitos reservados.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script src="javascripts/easing/easing.min.js"></script>
<script src="javascripts/superfish/hoverIntent.js"></script>
<script src="javascripts/superfish/superfish.min.js"></script>
<script src="javascripts/wow/wow.min.js"></script>
<script src="javascripts/waypoints/waypoints.min.js"></script>
<script src="javascripts/owlcarousel/owl.carousel.min.js"></script>
<script src="javascripts/isotope/isotope.pkgd.min.js"></script>
<script src="javascripts/lightbox/js/lightbox.min.js"></script>
<script src="javascripts/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="javascripts/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="javascripts/main.js"></script>

</body>
</html>