<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/favicon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Libraries CSS Files -->
    <link href="javascripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="javascripts/animate/animate.min.css" rel="stylesheet">
    <link href="javascripts/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto"><%= titleH1 %></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#intro">Inicio</a></li>
                <li><a href="/simulador">Simulador</a></li>
                <li><a href="/#services">Serviços</a></li>
                <li><a href="/#portfolio">Portfolio</a></li>
                <li><a href="/#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!--==========================
  Contact Section
============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contate-nos</h3>
                <p>Ligue e peça um orçamento sem compromisso, vamos te surpreender!</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Endereço</h3>
                        <address>Maringá, Paraná</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Telefones</h3>
                        <p><img src="images/icon_whats.png"/><a href="tel:44999214246"> (44) 99921-4246 - Heliton</a>
                        </p>
                        <p><img src="images/phone-black.png"><a href="tel:44999247004"> (44) 99924-7004 - Heleno</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:pinturasleno@gmail.com">pinturasleno@gmail.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Sua mensagem foi enviada! Em breve entramos em contato. Obrigado!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome"
                                   data-rule="minlen:4" data-msg="Digite no mínimo 4 letras"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                                   data-rule="email" data-msg="Digite um email válido"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                               data-rule="minlen:4" data-msg="Digite no mínimo 8 letras no assunto"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                                  data-msg="Escreva algo para nós" placeholder="Mensagem"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Enviar mensagem</button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3><%= titleH1 %></h3>
                    <p>Peça seu orçamento sem compromisso. Pinturas para sua casa, loja ou prédio.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Links úteis</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Inicio</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#about">Sobre</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#services">Serviços</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Portfólio</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contato</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contate-nos</h4>
                    <p>Maringá, Paraná <br>
                        <strong>Telefone:</strong>44 99921-4246 Heliton <img src="images/icon-whats-white.png"><br>
                        <strong>Telefone:</strong>44 99924-7004 Heleno <img src="images/phone-white.png"><br>
                        <strong>Email:</strong> pinturasleno@gmail.com
                    </p>

                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>News Letter</h4>
                    <p>Assine nossa Newsletter para receber nossas promoções exclusivas!</p>
                    <form action="" method="post">
                        <input type="email" placeholder="email@dominio.com" name="email"><input type="submit"
                                                                                                value="Assinar">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><%= titleH1 %></strong>. Todos os direitos reservados.
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<!-- Template Main Javascript File -->
<script src="javascripts/main.js"></script>

</body>
</html>
